/* Estilos generales */
body {
  /* Transición suave del color de fondo al cambiarlo */
  transition: background-color 0.5s ease;
}

/* Contenedor principal del carrusel */
.carousel {
  position: relative;  /* Posición relativa para poder colocar elementos en base a este contenedor */
  width: 100vw;        /* Ancho total de la ventana para ocupar toda la pantalla */
  height: 100vh;       /* Alto total de la ventana para ocupar toda la pantalla */
  overflow: hidden;    /* Oculta el contenido que se desborda del contenedor */
}

/* Contenido del carrusel */
.carousel-content {
  display: flex;              /* Los elementos del carrusel se colocan en fila */
  flex-direction: column;     /* Coloca los elementos en una columna vertical */
  transition: transform 1s ease-in-out;  /* Transición para el movimiento del carrusel */
  width: 100%;                /* Ocupa todo el ancho del contenedor principal */
}

/* Cada diapositiva individual dentro del carrusel */
.carousel-slide {
  display: flex;               /* Los elementos se colocan en fila (horizontal) */
  justify-content: center;     /* Centra el contenido horizontalmente */
  align-items: center;         /* Centra el contenido verticalmente */
  position: relative;          /* Posición relativa para ajustar contenido interno */
  width: 100vw;                /* Ocupa todo el ancho de la ventana */
  height: 100vh;               /* Ocupa todo el alto de la ventana */
  overflow: hidden;            /* Oculta cualquier contenido que desborde del contenedor */
}

/* Imagen dentro de cada diapositiva del carrusel */
.carousel-slide img {
  width: 100%;                  /* La imagen ocupa todo el ancho de la diapositiva */
  height: auto;                 /* Ajuste proporcional de la altura */
  max-width: 1200px;            /* Ancho máximo para limitar el tamaño en pantallas grandes */
  max-height: 600px;            /* Alto máximo para limitar el tamaño en pantallas grandes */
  object-fit: cover;            /* Recorta la imagen para que se ajuste al tamaño definido */

  
  transition: transform 0.5s ease-in-out;  /* Transición suave para los efectos de transformación ESTA ES LA QUE DA PROBLEMAS*/
}

/* Definición del centro de transformación de la imagen */
.carousel-image {
  transform-origin: center center;  /* Fija el centro de la imagen como el punto de transformación */
}

/* Efecto hover para el subtítulo en el carrusel */
.carousel-subtext:hover {
  cursor: pointer;               /* Cambia el cursor a un puntero cuando se pasa sobre el subtítulo */
}

/* Carousel.css */
.carousel-subtext {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  position: relative;
  
  transition: transform 0.15s ease-out; /* Asegúrate de que esto sea rápido */
}

.carousel-subtext:hover {
  transform: scale(1.2); /* Zoom rápido al hacer hover */
  transition: transform 0.15s ease-out; /* Animación rápida de entrada */
}

.scroll-indicator, .scroll-indicator__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-indicator {
  text-transform: uppercase;
  font-size: 20px;
  font-family: circular-bold, sans-serif;
  color: hsla(0, 0%, 100%, .6);
  z-index: 1;
  bottom: 20px; /* Ajusta según sea necesario */
}
body * {
  -webkit-font-smoothing: antialiased !important;
}

.scroll-indicator__line { position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%) scaleY(0); /* Comienza sin altura visible */ transform-origin: top; /* Punto de origen de la transformación en la parte superior */ width: 2px; height: 80px; /* Altura completa de la línea */ background: linear-gradient(180deg, hsla(0, 0%, 100%, .6) 50%, hsla(0, 0%, 100%, 0) 100%); animation: grow-shrink 3s ease-in-out infinite; /* Aplicar la animación */ } /* Animación para crecer y desaparecer de arriba a abajo */ @keyframes grow-shrink { 0% { transform: translateX(-50%) scaleY(0); /* Línea invisible al inicio */ } 50% { transform: translateX(-50%) scaleY(1); /* Crece hasta altura completa */ } 100% { transform: translateX(-50%) scaleY(0); /* Desaparece de arriba hacia abajo */
/* Suavizado de fuente para mejor renderizado */
