/* src/styles/fonts.css */

@font-face {
  font-family: 'Quilon';
  src: url('../assets/fonts/Quilon_Complete/Fonts/OTF/Quilon-Regular.otf') format('opentype'); /* Especifica el formato */
  font-weight: normal;
  font-style: normal;
}
