@import './font.css';

/* Estilo general para la navbar */
.navbar {
  background-color: transparent;
  position: fixed;
  top: 1rem; /* Da margen superior al navbar */
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 1rem;
}

/* Contenido del navbar */
.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

/* Contenedor que mantiene el logo a la izquierda */
.navbar-left {
  position: absolute;
  left: 50px; /* Ajusta para mover el logo más a la izquierda, pero no demasiado */
}

/* Logo del navbar */
.navbar-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 300px;
}

/* Estilos de los enlaces del navbar */
.navbar-links {
  display: flex;
  gap: 5rem; /* Espacio entre los enlaces */
}

/* Contenedor centrado que contiene los enlaces */
.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

/* Hover sobre los enlaces */
.navbar-links a:hover {
  color: white;
}

/* Efecto de tachado */
.navbar-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  z-index: -1;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}
