/* Contenedor principal para el texto */
.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%; /* Ajustado para mover todo más a la izquierda */
}

/* Contenedor para cada bloque de texto */
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* Espacio entre las filas de texto */
}

/* Contenido principal del texto */
.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre el título y el subtítulo */
}

/* Estilo para el texto principal del carrusel */
.carousel-text {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.5s ease; /* Transición para efectos generales */
}

/* Estilo para el subtítulo en verde */
.green-text {
  font-size: 5rem; /* Tamaño de fuente más grande */
  text-transform: uppercase;
  color: #004d00; /* Color verde botella oscuro */
  display: inline-block; /* Asegura que se comporte como bloque en línea */
}

/* Contenedor para el subtítulo y el enlace del proyecto */
.subtext-content {
  display: flex;
  align-items: center;
  position: relative; /* Permite posicionar elementos hijos */
}

/* Estilo para el enlace del proyecto */
.project-link {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  position: relative; /* Necesario para efectos de hover */
  transition: transform 0.1s ease-out; /* Animación rápida para el hover */
}

/* Efecto hover para el enlace "Ver Proyecto" */
.project-link:hover {
  transform: scale(1.1); /* Escala ligera en hover */
}

/* Línea que acompaña al subtítulo */
.subtext-line {
  position: absolute;
  left: -300px; /* Ajuste inicial fuera de la vista */
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  background-color: white;
  z-index: -1; /* Coloca detrás del texto */
  width: 250px; /* Ancho inicial */
  transition: width 0.3s ease; /* Transición para el ancho */
}

/* Expande la línea en hover sobre el subtítulo */
.subtext-content:hover .subtext-line {
  width: 550px; /* Ancho expandido al hacer hover */
  transition: width 0.3s ease; /* Mantiene la transición suave */
}
